# Step 1: Data collection and understand the Data
First, let's load the data and take a look at the first few rows to get a sense of what we're working with.

In [1]:
import pandas as pd

# Load the dataset
file_path = 'dataset_space_API_past_launches_raw (1).csv'
df = pd.read_csv(file_path)

# Show the first few rows of the dataset
df.head()

,FlightNumber,Date,BoosterVersion,PayloadMass,Orbit,LaunchSite,Outcome,Flights,GridFins,Reused,Legs,LandingPad,Block,ReusedCount,Serial,Longitude,Latitude
0,1,2006-03-24,Falcon 1,20.0,LEO,Kwajalein Atoll,None None,1,False,False,False,NaN,NaN,0,Merlin1A,167.743129,9.047721
1,2,2007-03-21,Falcon 1,NaN,LEO,Kwajalein Atoll,None None,1,False,False,False,NaN,NaN,0,Merlin2A,167.743129,9.047721
2,4,2008-09-28,Falcon 1,165.0,LEO,Kwajalein Atoll,None None,1,False,False,False,NaN,NaN,0,Merlin2C,167.743129,9.047721
3,5,2009-07-13,Falcon 1,200.0,LEO,Kwajalein Atoll,None None,1,False,False,False,NaN,NaN,0,Merlin3C,167.743129,9.047721
4,6,2010-06-04,Falcon 9,NaN,LEO,CCSFS SLC 40,None None,1,False,False,False,NaN,1.0,0,B0003,-80.577366,28.561857

We successfully loaded the dataset and can see a glimpse of what the data looks like.

BoosterVersion is name of the booster.

PayloadMass is mass of the payload.

Orbit is orbit that the payload is going to.

LaunchSite is name of the launch site being used.

Longitude is longitude of the launch site.

Latitude is latitude of the launch site.

Outcome is outcome of the landing of first-stage booster.

Flights is number of flights with that core.

GridFins is whether grid fins were used.

Reused is whether the core is reused.

Legs is whether legs were used.

LandingPad is type of landing pad used.

Block is a number used to identify the version of cores (including information on thrust engines, etc).

ReusedCount is number of times that this specific core has been reused.

Serial is serial of the core.

• LEO: Low Earth orbit (LEO)is an Earth-centred orbit with an altitude of 2,000 km (1,200 mi) or less or with at least 11.25 periods per and an eccentricity less than 0.25. Most of the manmade objects in outer space are in LEO . 

• VLEO: Very Low Earth Orbits (VLEO) can be defined as the orbits with a mean altitude below 450 km. 

• GTO: A geostationary orbit, also referred as geosynchronous orbit is a high Earth orbit that allows satellites to match Earth's rotation. 

• SSO (or SO): It is a Sun-synchronous orbit also called a heliosynchronous orbit is a nearly polar orbit around a planet. 

• ES-L1: At the Lagrange points the gravitational forces of the two large bodies cancel out in such a way that a small object placed in orbit there is in equilibrium relative to the center of mass of the large bodies. 

• HEO: A highly elliptical orbit, is an elliptic orbit with high eccentricity, usually referring to one around Earth. 

• ISS: A modular space station (habitable artificial satellite) in low Earth orbit. 

• MEO: Geocentric orbits ranging in altitude from 2,000 km (1,200 mi) to just below geosynchronous orbit at 35,786 kilometers (22,236 mi). 

• HEO: Geocentric orbits above the altitude of geosynchronous orbit (35,786 km or 22,236 mi). • GEO: It is a circular geosynchronous orbit 35,786 kilometres (22,236 miles) above Earth's equator and following the direction of Earth's rotation. 

• PO: It is one type of satellites in which a satellite passes above or nearly above both poles of the body being orbited(usually a planet such as the Earth.)

• True Ocean means the mission outcome was successfully landed to a specific region of the ocean. 

• False Ocean means the mi	ssion outcome was unsuccessfully landed to a specific region of the ocean. 

• True RTLS means the mission outcome was successfully landed to a ground pad. 

• False RTLS means the mission outcome was unsuccessfully landed to a ground pad. 

• True ASDS means the mission outcome was successfully landed to a drone ship. 

• False ASDS means the mission outcome was unsuccessfully landed to a drone ship. 

• None ASDS and None None: these represent a failure to land.